.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(58, 59, 62); /* Fundo escuro */
}

.dinamico {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  padding: 0;
  list-style: none;
  width: 100%;
  padding-left: 100px;
  padding-right: 110px;
}

.dinamico li.first {
    animation-delay: 0s; /* Início imediato */
  }
  
  /* Classe específica para a segunda palavra */
  .dinamico li.second {
    animation-delay: 1.5s; /* Início após 1.5 segundos */
  }
  
  /* Classe específica para a terceira palavra */
  .dinamico li.third {
    animation-delay: 3s; /* Início após 3 segundos */
  }

.dinamico li {
  font-size: calc(64px);
  font-weight: bold;
  text-shadow:
    1px 1px 0 rgb(255, 255, 255), /* Sombra do texto clara */
    -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255);
  animation: fadeInColorDark 5s infinite; /* Animação para o modo escuro */
  white-space: nowrap;
}

@keyframes fadeInColorDark {
  0% { color: rgba(58, 59, 62, 1); } /* Cor inicial do texto */
  50% { color: white; } /* Texto fica branco no meio da animação */
  100% { color: rgba(58, 59, 62, 1); } /* Volta à cor inicial */
}

/* Adicione as media queries conforme necessário */
@media (max-width: 1400px) {
  .dinamico li {
    font-size: 50px;
  }
  .dinamico {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1000px) {
  .dinamico li {
    font-size: 40px;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .dinamico {
    flex-direction: column; /* Empilha as palavras verticalmente */
    justify-content: center;
    font-size: 2px; /* Centraliza verticalmente as palavras */
    padding-left: 11%;
    padding-right: 6%; /* Adiciona padding lateral */
  }
  
  /* Centralizando cada item na tela mobile */
  .dinamico li.first {
    text-align: left;
  }

  .dinamico li {
    font-size: 37px; /* Tamanho fixo da fonte em dispositivos móveis */
    /* Espaço entre as palavras */
    text-align: center; /* Centraliza o texto horizontalmente */
    width: 100%; /* Garante que as palavras ocupem toda a largura disponível */
  }

  /* Corrigindo o seletor para aplicar o transform */
  .dinamico li.second {
    transform: translateX(19%); /* Mover o segundo item para a direita */
  }
}